<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieApp | Aplicación de gestión de películas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2 class="card-header">Búsqueda de Directores existentes</h2>
        <div class="card-body">
            <form method="get" th:action="@{/cdirectores/nombre}">
                <div class="mb-3">
                    <label class="form-label" for="nombre">Director</label>
                    <input class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del Director"
                           type="text">
                </div>
                <button class="btn btn-success" type="submit">Buscar Director</button>
            </form>
            <hr>
            <a class="btn btn-primary" role="button" th:href="@{/cpeliculas}">Ir a Inicio</a>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>