<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieApp | Aplicación de gestión de películas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2 class="card-header" th:text="${titulo}"></h2>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" th:action="@{/cdirectores/guardar/}" th:object="${director}">
                <div class='alert alert-danger' role='alert' th:if="${#fields.hasErrors('*')}">
                    Por favor corrija los siguientes errores:
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                    </ul>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nombre">Nombre Director</label>
                    <input class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre completo del Director" required="required"
                           th:field="*{nombre}" type="text">
                </div>
                <button class="btn btn-dark" type="submit">Guardar</button>
                <input th:field="*{idDirector}" type="hidden"/>
            </form>
            <hr>
            <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/}">Ir a Inicio</a>
            <a class="btn btn-primary" role="button" th:href="@{/cdirectores/listado/}">Ir al listado de Directores</a>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>