<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>MovieApp | Aplicación de gestión de películas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de Actores existentes</h2>
    <form th:action="@{/cactores/actor}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Actor</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del Actor">
        </div>
        <button type="submit" class="btn btn-success">Buscar Actor</button>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cpeliculas}">Ir a Inicio</a>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>