<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieApp | Aplicación de gestión de películas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2 class="card-header" th:text="${titulo}"></h2>
        <div class="card-body">
            <div class='alert alert-success' role='alert' th:if="${msg != null}" th:text="${msg}"></div>
            <h4 class="card-title">
                <a class="btn btn-primary btn-xs" th:href="@{/cactores/nuevo}">Crear nuevo Actor</a>
            </h4>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Indice</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">País de Nacimiento</th>
                    <th scope="col">Película</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="actor : ${listadoActores}">
                    <td th:text="${actor.idActor}"></td>
                    <td th:text="${actor.nombre}"></td>
                    <td th:text="${actor.apellidos}"></td>
                    <td th:text="${actor.fechaNacimiento}"></td>
                    <td th:text="${actor.tblPaisIdPais}"></td>
                    <td>
                        <ul>
                            <li th:each="pelicula: ${actor.peliculas}">
                                <a th:text="${pelicula.titulo}"></a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button"
                           th:href="@{/cactores/ver/{id}  (id=${actor.idActor})  }" th:text="'Ver'" title="Ver el Actor en detalle.">
                            <i aria-hidden="true" class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-success btn-sm" role="button"
                           th:href="@{/cactores/editar/{id}  (id=${actor.idActor})  }" th:text="'Editar'" title="Editar Actor.">
                            <i aria-hidden="true" class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" onclick="return confirm('¿Estas seguro?')"
                           role="button" th:href="@{/cactores/borrar/{id}  (id=${actor.idActor})   }" th:text="'Borrar'"
                           title="Eliminar Actor."><i aria-hidden="true" class="fas fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/}">Ir a Inicio</a>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>